.color-box {
    width: 25px;
    height: 25px;
}

section {
    margin-top: 50px;
    margin-left: 50px;
}

.inline-item {
    display: inline-block;
}

.sg-flash{
    width: 400px;
}

/* CSS fixes to overcome html-sketchapp limitations */
img.sg-avatar__image,
div.sg-avatar__image {
    border-radius: 100%;
}

.sg-card {
    width: 200px;
}

.sg-card__hole {
    height: 50px 
}

.sg-card__hole:nth-child(2) {
    border-radius: 0 0 8px 8px;
}

.sg-flash .sg-text {
    text-align: center;
}
