.color-box {
    width: 25px;
    height: 25px;
}

section {
    margin-top: 50px;
    margin-left: 50px;
}

.inline-item {
    display: inline-block;
}

.sg-flash{
    width: 400px;
}

/* CSS fixes to overcome html-sketchapp limitations */
img.sg-avatar__image,
div.sg-avatar__image {
    border-radius: 100%;
}

.sg-card {
    width: 400px;
}

.sg-card__hole:nth-child(2) {
    height: 60px;
    text-align: right;
}
.sg-card__hole:nth-child(2) {
    border-radius: 0 0 8px 8px;
}

.sg-flash .sg-text {
    text-align: center;
}

.sg-rate-box .sg-rate-box__background-stars .sg-rate-box__star:nth-child(1n) {
    visibility: hidden;
}

.sg-rate-box .sg-rate-box__background-stars .sg-rate-box__star:nth-child(2n) {
    visibility: hidden;
}

.sg-rate-box .sg-rate-box__background-stars .sg-rate-box__star:nth-child(3n) {
    visibility: hidden;
}

.sg-rate-box .sg-rate-box__background-stars .sg-rate-box__star:nth-child(4n) {
    visibility: visible;
}

.sg-rate-box .sg-rate-box__background-stars .sg-rate-box__star:nth-child(5n) {
    visibility: visible;
}

.sg-rate-box .sg-rate-box__filled-stars .sg-rate-box__star:nth-child(1n) {
    visibility: visible;
}

.sg-rate-box .sg-rate-box__filled-stars .sg-rate-box__star:nth-child(2n) {
    visibility: visible;
}

.sg-rate-box .sg-rate-box__filled-stars .sg-rate-box__star:nth-child(3n) {
    visibility: visible;
}

.sg-rate-box .sg-rate-box__filled-stars .sg-rate-box__star:nth-child(4n) {
    visibility: hidden;
}

.sg-rate-box .sg-rate-box__filled-stars .sg-rate-box__star:nth-child(5n) {
    visibility: hidden;
}
